tqdm
faiss-cpu
scikit-learn
pyarrow
fastparquet
krippendorff
pandas
numpy
langchain
langchain-text-splitters
docx2txt
pypdf
langchain-gigachat
langchain-core
langchain-community
pymupdf
python-docx
rank-bm25
scipy
requests
python-dotenv
pydantic
openpyxl
